.header{
    height: 125px;

}

.slider{
    height: 400px;
}

.titulo{
    margin: -80px 90px;
    width: 250px;
}

.header-autogestion {
    margin: 37px 994px;
    width: 350px;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #EEE;
    border-bottom-left-radius: 24px;
    padding: 0px 24px;
    box-sizing: border-box;
    height: 48px;
}

h3{
    font-family: cursive;
    font-size: 25px;
    color: blueviolet;
}

.btn_header{
    border: none;
    margin: 10px;
    font-family: cursive;
}

.btn_header:hover{
    cursor: pointer;
}

.btn_menu{
    border: none;
    margin: 5px;
    font-size: 15px;
    font-family: cursive;
    background-color: white;
}

.btn_menu:hover{
    cursor: pointer;
    color: blueviolet;
}

.menu{
    width: 600px;
}

.admin{
    width: 180px;
    height: 36px;
    font-size: 10px;
    margin: -34px 1155px;
    font-family: cursive;
}

.imagen-slider{
    margin: 6px 14px;
    width: 1320px;
    height: 380px;
}