*{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
    
}
 
/*--------------------------------- encabezado---------------------------- */
.encabezado{
    display: flex;
    background: rgb(38, 5, 112);
    width: 102%;
    height: 83px;

}
.encabezado img{
    width: 10%;
    height: 90%;
}
.encabezado h2{
    margin-left: 0px;
    margin-top: 22px;
    color: white;
    font-size: 25px;
    width: 80%;
}

.funci{
    margin-left: 3%;
    display: flex;
    margin-top: 1.2%;
    width: 35%;
}

.iniciar{
    color: white;
    font-size: 25px;
    text-decoration-color: black;
    width:40%;
}


.registrarse{
    color: white;
    font-size: 25px;
    text-decoration-color: black;
    margin-right: 10px;
}
.infor{
    display: flex;
    width: 40%;
    margin-left: 20%;
}

.infor img{
    width: 15%;
}

.triangulo{
    width: 0; 
    height: 0; 
    border-right: 190px solid rgb(160, 160, 160);
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent; 
    position: absolute;
    left: 87%;
    top: -1%; 
}
/*--------------------------------- navegacion---------------------------- */
.encabezado2{
    border:2px solid black;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.encabezado2 nav ul{
    margin-top: 3px;
    display: flex;
    text-align: center;
    margin-right: 120px;
    padding: 0px 1px;
} 
.encabezado2 nav ul li{
    list-style: none;
    cursor: pointer;
    margin-left: 4%;
    padding: 5px;
    border-radius: 10px;
} 
.encabezado2 nav ul li:hover{
    color: white;
    background-color:rgb(38, 5, 112);
}
.logo_dos{
    position: absolute;
    width: 100px;
    left: 92%;
    top: 30px;
    transition: 0.1s;
}


.linea_iniciar{
    width: 122px;
    margin-left: 200px;
    transition: .1s;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
/*______________________________ pie de pagina________________________________________ */

footer{
    background: rgb(38, 5, 112);
    width: 100%;
    margin-top: 60.5px;
    height: 90.22px;
    display: flex;
}
.logoos{
    width: 20%;
    height: 90px;
    margin-right: 20%;
}

.logooo{
    width: 12%;
    height: 90px;
    margin-left: 20%;
}

.text
{
    text-align: center;
    margin-right:10% ;
    color: white;
    font-size: 20px;
    width: 60%;
}
.text p{
    margin: 0px;
}
/*--------------------------------- slider----------------------------------------- */

.slider{
    width: 85%;
    margin-left: 4%;
    
    
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider li{
    list-style: none;
    width: 100%;
    
}
.slider img{
    width: 100%;
    height: 395px;

}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*--------------------------------- redes sociales----------------------------------------- */

.redes{
    margin-top: -27%;
}

.facebook, .twitter, .youtube, .instagram{
    width: 400px;
    height: 50px;
    background: rgb(38, 5, 112);
    margin-top: 5px ;
    margin-left: 5px;
    border-radius: 5px;
    margin-left: 1285px;
    transition: 0.5s;
    display: flex;
    padding: 10px;
}
.facebook p, .twitter p, .youtube p, .instagram p{
    margin-left:23px;
    font-size: 25px;
    color: white;
    height: 40px;
    margin-top:-1% ;
}

.facebook:hover, .instagram:hover, .twitter:hover, .youtube:hover{
    margin-left: 1200px;
}

.facebooki, .instagrami, .twitteri, .youtubei{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(160, 160, 160);
}

/*--------------------------------- redes sociales----------------------------------------- */


/*-------------------------------------- actividades---------------------------- */
.activi{
    display: none;
    margin-top: 5%;
}
.contenedor_todo_actividades{
    display: flex;
    width: 100%px;
    margin-top: 5%;
}
.actividades{
    width: 300px;
    height: 450px;
    background: rgb(38, 5, 112);
    margin: 25px;
    border-radius: 10px;
}
.actividades img{
    width: 100%;
    height: 180px;
    padding: 0;
}
.actividades h4{
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
}
.actividades p{
    margin-left: 4px;
    color:rgb(250, 80, 63);
}
.precio_actividad{
    background: rgb(250, 80, 63);
    width: 130px;
    height: 65px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left:30px;
    border: white solid;
    text-align: center; 
    cursor: pointer; 
}
.precio_actividad:hover{
    background-color: rgb(197, 197, 197);
}
.precio_actividad h5{
    font-size: 18px;
    margin-top: 5px; 
}
.actividades:hover{
-webkit-box-shadow: 0px 2px 14px 8px rgba(66,56,66,0.72);
-moz-box-shadow: 0px 2px 14px 8px rgba(66,56,66,0.72);
box-shadow: 0px 2px 14px 8px rgba(66,56,66,0.72);
}
/*-------------------------------------- actividades---------------------------- */


/* _________________________________tabla de vuelos__________________________ */
.vuelosindex{
    display: none;
    margin-top: 5%;
}
.tabla_vuelos_administrador{
    width: 90%;
    background:   rgb(38, 5, 112);
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: 60px;
    -webkit-box-shadow: -1px 0px 16px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 16px 2px rgba(0,0,0,0.75);
box-shadow: -1px 0px 16px 2px rgba(0,0,0,0.75);
}
.titulo{
    grid-column-start:1 ;
    grid-column-end: 8;
    text-align: center;
    background: rgb(160, 160, 160);
    color: white;
    font-size: 35px;
}
.elem_TI{
    text-align: center;
    color: rgb(250, 80, 63);
    padding: 10px;
    font-size: 16px;
}
.elem{
    text-align: center;
    color: white;
    padding: 15px;
    z-index: 100;
}
/* _________________________________tabla de vuelos__________________________ */


/*_______________________________ servicios________________________________- */
.servicioo{
    display: none;
    margin-top: 5%;
}
.servicios{
   
    display: flex;
}
.servicios img{
    width: 250px;
    height: 250px;
    margin-left: 10px;
}
.servicios div{
    border: solid rgb(38, 5, 112);
    margin: 10px auto;
    transition: 0.5s;
}

.servicios div:hover{
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 25px 5px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 25px 5px -12px rgba(0,0,0,0.75);
box-shadow: 0px 25px 5px -12px rgba(0,0,0,0.75);
}
.p-servicios{
    text-align: center;
    font-size: 18px;
}
.servicios h4{
 text-align: center;
 
}
/*_______________________________ servicios________________________________- */


/* --------------------------------- quienes somos --------------------------- */
.somoos{
    display: none;
    margin-top: 5%;
}
/* --------------------------------- quienes somos --------------------------- */


/* --------------------------------- tiquetes--------------------------- */
.tiquee{
    display: none;
    margin-top: 5%;
}

.tiquetesb{
    margin-left: 100px;
}
.btique{
    margin-left: 100px;
}
.ntiquete{
    width: 400px;
    height: 35px;
    border: solid rgb(38, 5, 112);
}
.envitiquetes{
    height: 35px;
    background: rgb(38, 5, 112);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.envitiquetes:hover {
    background: white;
    color: rgb(38, 5, 112);
}
.imgtiquetes{
    margin-top: 15px;
    margin-left: 200px;
    width: 300px;
}
/* --------------------------------- tiquetes--------------------------- */


/* --------------------------------- viajes --------------------------- */
.viajee{
    display: none;
    margin-top: 5%;
}
/* --------------------------------- viajes --------------------------- */


/* --------------------------------- precios --------------------------- */
.precioo{
    display: none;
    margin-top: 5%;
}
/* --------------------------------- precios --------------------------- */

/* --------------------------------- alojamiento --------------------------- */
.aloja{
    display: none;
    margin-top: 5%;
}
/* --------------------------------- alojamiento --------------------------- */
.titulo_bienvenida{
    margin-left: 40px;
}
/* .tablaprecios{
    margin-left: 50px;
    border: solid rgb(38, 5, 112);
}
.tablaprecios th, td {
    width: 10%;
    text-align: center;
    vertical-align: top;
    border: 1px solid ;
    border-spacing: 0;
 } */
 table {
    width: 90%;
    border: 3px solid rgb(38, 5, 112);
    margin-left: 40px;
 }
 th, td {
    width: 10%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
    color: #fff;
     background: #000;
 }
 th {
    background: #eee;
 }