
/*____________________________________________estilo formulario inicio de sesion_____________________________________*/
body{
    background-image: url(../imagenes/fondologin.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}
.container
{
    width: 27%;
    height: 90%;
    margin-left: 60%;
    padding: 0.5% 0.5%;
    border-radius: 20px;
    margin-top: 4%;
    text-align: center;
}
.container img{
    width: 65%;
    height: 45%;
    z-index: 11;
}
h1{
    margin-top: 20%;
}
.formu{
    
    margin-top: -23%;
    background-color: rgba(0, 0, 0, 0.3);
    width:90%;
    height: 100%;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 2%;
    text-align: center;
    padding: 10px;
}


input{
    margin: 15px 19px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    border: 2px solid purple;
    text-align: center;
}

input:hover{
    border: 2px solid green;
}

label{
    margin: 20px 20px;
    font-size: 25px;
    font-family: 'Times New Roman';
    color: white;
}
.opc{
    display: flex;
}

#env{
    margin-top: 8px;
    width: 100px;
    margin: 10px 100px;
    background-color: rgb(38, 5, 112);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}

#env:hover{
    color: white;
    background-color: rgba(122, 4, 231, 1);
    box-shadow: 0 4px 16px rgba(122, 4, 231, 1);
    transition: all 0.2s ease;
}

.regreso{
    color: white;
    margin-right: 10%;
}
.registro{
    color: white;
    width: 60%;
}

/*_____________________________________________________________________________________________________________________*/
