
/*____________________________________________estilo formulario inicio de sesion_____________________________________*/

.formu{
    margin: auto;
    width: 300px;
    height: 250px;
    border: 4px solid blueviolet;
    border-radius: 20px;
}

.formu{
    margin-top: 200px;
    padding: 10px;
}

form{
    margin-top: 20px;
}

input{
    margin: 15px 19px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
}

input:hover{
    border: 2px solid green;
}

label{
    margin: 20px 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#env{
    margin-top: 8px;
    width: 100px;
    margin: 10px 100px;
    background-color: cadetblue;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    padding: 5px 5px;
    border: none;
}

#env:hover{
    color: black;
    background-color: goldenrod;
    box-shadow: 0 4px 16px rgba(122, 4, 231, 1);
    transition: all 0.2s ease;
}

a.registro{
    margin: 17px;
}

/*_____________________________________________________________________________________________________________________*/
