
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.header{
    height: 125px;

}

.slider{
    overflow: hidden;
}

.titulo{
    margin: -80px 90px;
    width: 250px;
}

.header-autogestion {
    margin: 37px 1171px;
    width: 164px;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: rgb(138, 118, 182) ;
    border-bottom-left-radius: 24px;
    padding: 0px 24px;
    box-sizing: border-box;
    height: 48px;
}

h3{
    font-size: 25px;
    color: rgb(38, 5, 112);
    margin: 27px 19px;
}

.btn_header{
    border: none;
    margin: 10px;
    background-color: rgb(138, 118, 182);
}

.btn_header:hover{
    cursor: pointer;
    color: white;
}

.btn_menu{
    border: none;
    margin: 5px;
    font-size: 15px;
    background-color: white;
}

.btn_menu:hover{
    cursor: pointer;
    color: rgb(38, 5, 112);
}

.menu2{
    width: 600px;
}

.admin{
    width: 300px;
    height: 73px;
    font-size: 18px;
    margin: 56px 535px;
}

/*--------------------------------- slider----------------------------------------- */

.slider{
    width: 85%;
    margin-left: 4%;
    
    
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider li{
    list-style: none;
    width: 100%;
    
}
.slider img{
    width: 100%;
    height: 395px;

}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.modulos{
    height: 150px;
}

.modulo1{
    margin-top: 20%;
    width: 300px;
    height: 100px; 
    margin-left: 40%;
    z-index: 11;
}

.modulo2{
    width: 300px;
    height: 100px;
}

.btn_modulo{
    margin: 25px 77px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border: 2px solid green;
    background:rgba(38, 5, 112, 1);
    color: black;
}

.btn_modulo:hover{
    color: rgba(38, 5, 112, 1) ;
    background-color: white;
    box-shadow: 0 4px 16px rgba(38, 5, 112, 1);
    transition: all 0.2s ease;
}

.navegacion{
	width: 150px;
    margin: -93px 735px;
    background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
    padding: 15px 20px;
    color: #f5ecec;
    text-decoration: none;
    background: rgb(38, 5, 112);
    border: 2px solid black;
    width: 102px;
    text-align: center;
}

.menu li a:hover{
    color: black;
    background: blue;
    box-shadow: 0 4px 16px rgba(38, 5, 112, 1);
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: rgb(38, 5, 112);
    width: 100%;
    margin: 0 auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
    padding: 15px;
    margin: 0px auto;
	color: #fff;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/*--------------------------------- redes sociales----------------------------------------- */

.redes{
    margin-top: -60%;
    font-family: 'Saira Condensed', sans-serif;
    position: fixed;
}

.facebook, .twitter, .youtube, .instagram{
    width: 400px;
    height: 50px;
    background: rgb(38, 5, 112);
    margin-top: 5px ;
    margin-left: 5px;
    border-radius: 5px;
    margin-left: 1285px;
    transition: 0.5s;
    display: flex;
    padding: 10px;
}
.facebook p, .twitter p, .youtube p, .instagram p{
    margin-left:23px;
    font-size: 25px;
    color: white;
    height: 40px;
    margin-top:-1% ;
}

.facebook:hover, .instagram:hover, .twitter:hover, .youtube:hover{
    margin-left: 1200px;
}

.facebooki, .instagrami, .twitteri, .youtubei{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(160, 160, 160);
}

/*--------------------------------- redes sociales----------------------------------------- */
/*______________________________ pie de pagina________________________________________ */

footer{
    background: rgb(38, 5, 112);
    width: 100%;
    
    height: 90.22px;
    display: flex;
}
.logoos{
    width: 10%;
    height: 90px;
    margin-right: 20%;
}

.logooo{
    width: 7%;
    height: 90px;
    margin-left: 20%;
}

.text
{
    text-align: center;
    margin-right:10% ;
    color: white;
    font-size: 20px;
    width: 60%;
}
.text p{
    margin: 0px;
}

.img{
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 76px 88px;
}

.img2{
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 76px 533px;
}

.img3{
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 76px 975px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

.info{
    width:80%;
    height: 150px;
    border: 2px solid black;
    position: absolute;
    margin-left: 10%;
    background: rgb(38, 5, 112);
    border-radius: 30px;
}

.text-admin{
    margin: 20px 35px;
    color: white;
}

.btn_editar{
    position: absolute;
    margin: 135px 863px;
    width: 190px;
    padding: 5px;
    border: 2px solid green;
    border-radius: 40px;
    color: black;
    background: white;
}

.btn_editar:hover{
    color: white;
    background: black;
}