.header{
    height: 125px;

}

.slider{
    height: 400px;
}

.titulo{
    margin: -80px 90px;
    width: 250px;
}

.header-autogestion {
    margin: 37px 994px;
    width: 350px;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #EEE;
    border-bottom-left-radius: 24px;
    padding: 0px 24px;
    box-sizing: border-box;
    height: 48px;
}

h3{
    font-family: cursive;
    font-size: 25px;
    color: rgb(38, 5, 112);
    margin: 27px 19px;
}

.btn_header{
    border: none;
    margin: 10px;
    font-family: cursive;
}

.btn_header:hover{
    cursor: pointer;
}

.btn_menu{
    border: none;
    margin: 5px;
    font-size: 15px;
    font-family: cursive;
    background-color: white;
}

.btn_menu:hover{
    cursor: pointer;
    color: rgb(38, 5, 112);
}

.menu{
    width: 600px;
}

.admin{
    width: 180px;
    height: 36px;
    font-size: 10px;
    margin: -34px 1155px;
    font-family: cursive;
}

.imagen-slider{
    margin: 6px 14px;
    width: 1320px;
    height: 380px;
}

.modulos{
    height: 150px;
}

.modulo1{
    margin: 20px 50px;
    width: 300px;
    height: 100px;   
}

.modulo2{
    margin: -120px 501px;
    width: 300px;
    height: 100px;
}

.modulo3{
    width: 300px;
    margin: 20px 964px;
    height: 100px;
}

.btn_modulo{
    margin: 25px 77px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid black;
    background: rgb(38, 5, 112);
    font-family: cursive;
    color: white;
}

.btn_modulo:hover{
    color: black;
    background-color: white;
    box-shadow: 0 4px 16px rgba(38, 5, 112, 1);
    transition: all 0.2s ease;
}

.facebook{
    width: 400px;
    height: 50px;
    background: rgb(38, 5, 112);
    margin-top: 5px ;
    margin-left: 5px;
    border-radius: 5px;
    margin-left: 1285px;
    transition: 0.5s;
    display: flex;
    padding: 10px;
}
.facebook p{
    margin-left: 25px;
    font-size: 15px;
    color: white;
}
.instagram{
    width: 400px;
    height: 50px;
    background: rgb(38, 5, 112);
    margin-top: 5px ;
    margin-left: 5px;
    border-radius: 5px;
    margin-left: 1285px;
    display: flex;
    padding: 10px;
    transition: 0.5s;
    
}
.instagram p{
    margin-left: 30px;
    font-size: 15px;
    color: white;
}
.twitter{
    width: 400px;
    height: 50px;
    background: rgb(38, 5, 112);
    margin-top: 5px ;
    margin-left: 5px;
    border-radius: 5px;
    margin-left: 1285px;
    display: flex;
    padding: 10px;
    transition: 0.5s;
    
}
.twitter p{
    margin-left: 25px;
    font-size: 15px;
    color: white;
}
.youtube{
    width: 400px;
    height: 50px;
    background: rgb(38, 5, 112);
    margin-top: 5px ;
    margin-left: 5px;
    border-radius: 5px;
    margin-left: 1285px;
    display: flex;
    padding: 10px;
    transition: 0.5s;
}
.youtube p{
    margin-left: 25px;
    font-size: 15px;
    color: white;
}
.facebook:hover{
    margin-left: 1200px;

}
.instagram:hover{
    margin-left: 1200px;

}
.twitter:hover{
    margin-left: 1200px;

}
.youtube:hover{
    margin-left: 1200px;

}
.facebooki{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(238, 235, 235);;
}
.instagrami{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(231, 229, 229);;
}
.twitteri{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(235, 232, 231);;
}
.youtubei{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(230, 230, 230);;
}

.footer{
    border: 2px solid black;
    height: 150px;
    background: rgb(38, 5, 112);
}

.titulo-footer{
    font-family: cursive;
    font-size: 10px;
    margin: 10px;
    color: white;
}

.img{
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 76px 88px;
}

.img2{
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 76px 533px;
}

.img3{
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 76px 975px;
}